$background-color: #2E3138;
$primary-color: rgb(24, 225, 203);
$darker-primary: rgb(13, 159, 152);
$white: #d9dadb;
$breakpoint-tablet: 768px;

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: $background-color;

    .content-wrapper{
        margin: auto;
        width:100%;
        min-height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profile-card{
        width: 250px;
        height: 325px;
        border-radius: 10%;
        transition: .5s ease-out;
        position:relative;
        box-shadow: -5px -7px 10px rgba(255,255,255,0.2), 4px 4px 4px 10px rgba(0,0,0,0.2);

        @media (min-width:$breakpoint-tablet){
            width:325px;
        }

        .profile-content{
            width: 100%;
            height: 200px;
            position: absolute;
            top:0;

            .profile-image{
                width:100%;
                position: absolute;
                top:40px;
                display: flex;
                justify-content: center;

                img{
                    height: 90px;
                    width: 90px;
                    border-radius: 50%;
                    object-fit: cover;
                    opacity: 1;
                    border: 10px solid $background-color;
                    box-shadow: -5px -7px 10px rgba(255,255,255,0.2), 4px 4px 4px 10px rgba(0,0,0,0.2);
                    transition: .5s ease-out;
                }

                &:hover{
                    & img{
                        transform:scale(0.97);
                        box-shadow: none;
                        transition: .5s ease-in;
                    }
                }
            }

            .profile-info{
                position: absolute;
                top: 170px;
                width:100%;
                height:40px;
                display: flex;
                justify-content: center;
                align-items: center;
                color:$white;
                text-align: center;

                .name{
                    font-weight:bold;
                    margin-right: 1rem;
                }

                .years-old{
                    font-weight: 300;
                    opacity:.9;
                }

            }

            .location{
                position: absolute;
                width:100%;
                top: 195px;
                font-size: 0.9rem;
                display: flex;
                justify-content: center;
                color:$white;
                opacity: 0.7;
            }

            hr{
                opacity: 0.1;
                position: absolute;
                width: 60%;
                border-radius: 50%;
                top: 240px;
                left:50px;
            }
            
            .stats{
                display: flex;
                position: absolute;
                top: 260px;
                max-height: 50px;
                width:80%;
                justify-content: space-evenly;
                left:25px;                
                font-size: 14px;
                text-align: center;
                color:$white;
            }

        }
        & *{
            transition: .5s ease-out;
        }

        &:hover{
            box-shadow: none;
            transition: .5s ease-in;
            & *{
                transform: scaleX(0.99);
                transition: .5s ease-in;
            }
        }
    }

    .profile-data{
        height: 15vh;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        
        .youtube,
        .instagram,
        .facebook,
        .github{
            height: 40px;
            width: 40px;
            border-radius: 50%;
            box-shadow: inset 3px 2px 4px  rgba(0,0,0,0.2),inset -3px -2px 4px  rgba(255,255,255,0.1);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            position: relative;

            img{
                position: absolute;
                top: -40px;
                height: 30px;
                width: 30px;
                filter:invert(70%);
            }
            .clicked{
                height: 20px;
                width: 20px;
                border-radius: 50%;
                opacity: 1;
                background-color: $background-color;
                box-shadow: -1px -1px 3px rgba(255,255,255,0.2), 1px 1px 10px rgba(0,0,0,0.2);
            }
        }

        .youtube{
            &:hover{
                background-image: radial-gradient(closest-side,rgba(165, 24, 24, 0.5),rgba(248, 23, 23, 0.9));
                box-shadow: 0px 0px 60px  rgba(225, 24, 24, 0.5);
            }
        }

        .instagram{
            &:hover{
                background-image: radial-gradient(closest-side,rgba(102, 24, 165, 0.3),rgba(196, 31, 246, 0.9));
                box-shadow: 0px 0px 60px  rgba(84, 24, 102, 0.5);
            }
        }

        .facebook{
            &:hover{
                background-image: radial-gradient(closest-side,$darker-primary, $primary-color);
                box-shadow: 0px 0px 60px  rgba(24, 225, 203, 0.5);
            }
        }

        .github{
            &:hover{
                background-image: radial-gradient(closest-side,rgba(54, 54, 54, 0.3),rgba(221, 221, 221, 0.9));
                box-shadow: 0px 0px 60px  rgba(221, 221, 221, 0.5);
            }
        }
    }

    .attribution{
        width: 90%;
        margin: auto;
        color: $white;
        text-align: center;
        opacity: 0.4;

        a{
            color: $white; 
        }
    }
}
